@import "compass/css3";
@import "bits";
@import "normalize";
@import "index";
@import "sidebar";
@import "song";

.ember-application > .ember-view{

}

.main-content{
	background-color: green;
	height: 600px;
	width: 100%;
	display: table;
	/*vertical-align: middle;*/
}

.main-content--expanded{
	width: 100%;
}
