<div class="results__result-items">
    {{#each video in controller.videoResults}}
        <a href="{{unbound video.url}}" class="results__result-item">
            <div class="results__result-item__container">
                <div class="results__result-item__container__overlay">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </div>
                <img src="{{unbound video.picture}}" alt=""/>
                <div class="results__result-item__meta">
                    <span>{{video.name}}</span>
                </div>
            </div>
        </a>
    {{/each}}
</div>