<div class="results artist-results">
    <h4 class="results__header">Video Results</h4>
    <div class="results__result-items">
        {{#each video in videoResults}}
            <a href="{{unbound video.url}}" class="results__result-item">
                <div class="results__result-item__container">
                    <img src="{{unbound video.picture}}" alt=""/>
                    <div class="results__result-item__meta">
                        <span>{{video.name}}</span>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>